.ex-1-square{
    transition: 2s;
}
.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(.8);
}

.ex-6-img:hover{
    filter: grayscale();
}

.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover{
    filter: hue-rotate(180deg) opacity(30%);
}

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    filter: saturate(40) hue-rotate(60deg);
    border-radius: 10%;
}

.ex-9-img{
    transition: 2s;
}

.ex-9-img:hover{
    filter: hue-rotate(40deg) grayscale(1);
    border-radius: 25%;
    transform: scale(2);
}

.ex-10-icon{
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: AlmostSpin 2s linear;
}

@keyframes AlmostSpin{
    0%{
        transform: rotate(0);
    }
    80%{
        transform: rotate(320deg);
    }
    100%{
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: moveTop 1s linear;
}

@keyframes moveTop{
    0%{
        /* Same position as given in style css */
        left: 10%;
    }
    50%{
        /* Moves 100% away from left minus its size */
        left: calc(100% - 60px);
    }
    100%{
        /* Moves back in position */
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: moveBottom 1s linear;
}

@keyframes moveBottom{
    0%{
        /* Same position as given in style css */
        right: 20%;
    }
    50%{
        /* Moves 100% away from right minus its size */
        right: calc(100% - 60px);
    }
    100%{
        /* Moves back in position */
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: rotateTop 3s linear;
}

@keyframes rotateTop{
    0%{
        /* Starting position */
        left: 10%;
        top: -10px;
    }
    25%{
        /* Moves all the way to the left minus half of its width*/
        left: calc(100% - 30px);
        top: -10px;
    }
    50%{
        /* Moves down on the right side of 100% minus its height*/
        left: 100%;
        top: calc(100% - 10px);
    }
    75%{
        /* Moves left on the bottom side */
        left: 0;
        top: 100%;
    }
    95%{
        /* Moves up on the left */
        left: -20px;
        top: -10px;
    }

    100%{
        /* Returns in its position */
        left: 10%;
        top: -10px;
    }
}

